* {
    font-family: "Iosevka Nerd Font";
    font-size: 14px;
    border: none;
    box-shadow: none;
}

window#waybar {
    background-color: #141415;
    color: #cdcdcd;
    /* border-bottom: 1px solid #787bab; */
}

#backlight,
#battery,
#cpu,
#clock,
#language,
#memory,
#network,
#pulseaudio,
#tray,
#workspaces {
    background-color: #141415;
    color: #cdcdcd;
}

.modules-left {
    background-color: #141415;
    padding: 0;
}

.modules-right {
    background-color: #141415;
    padding: 0 5px 0 0;
}

#workspaces {
    font-size: 14px;
}

#workspaces button {
    padding: 0 8px;
    min-width: 1px;
    border-radius: 0;
    color: #cdcdcd;
    background-color: #141415;
}

#workspaces button.empty {
    color: #606079;
}

#workspaces button.focused,
#workspaces button.active {
    background-color: #252530;
    color: #787bab;
    border-bottom: 2px solid #787bab;
}

#language {
    min-width: 39px;
    margin: 0 4px;
}

#mode {
    background-color: #787bab;
    color: #141415;
    padding: 0 4px;
    font-weight: bold;
}

#cpu {
    margin: 0 4px;
}

#cpu:hover {
    color: #8ba9c1;
}

#backlight {
    margin: 0 4px;
}

#backlight:hover {
    color: #8ba9c1;
}

#pulseaudio {
    margin: 0 4px;
}

#pulseaudio.muted {
    color: #d8647e;
}

#pulseaudio:hover {
    color: #aeaed1;
}

#battery {
    margin: 0 4px;
}

#battery.charging {
    color: #7fa563;
}

#battery.plugged {
    color: #7fa563;
}

#battery.warning {
    color: #f3be7c;
}

#battery.critical {
    color: #d8647e;
}

#clock {
    margin: 0 4px;
}

#clock:hover {
    color: #8ba9c1;
}

#custom-separator {
    color: #606079;
    font-size: 12px;
    margin: 0 5px;
}

#tray {
    margin: 0 4px;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
}
