* {
    bg0     : #282828;
    bg1     : #32302f;
    bg2     : #3c3836;
    fg0     : #d4be98;
    fg1     : #c7b99a;
    comment : #928374;
    green   : #a9b665;
    red     : #ea6962;
    yellow  : #d8a657;

    background-color:   transparent;
    text-color:          @fg0;

    font: "Iosevka Nerd Font 12";
}

window {
    background-color: @bg0;
    border:           1px;
    border-color:     @green;
    border-radius:    0px;
    width:            400px;
    location:         center;
    padding:           0;
}

mainbox {
    background-color: transparent;
    padding: 10px;
    children: [ "inputbar", "listview" ];
}

inputbar {
    background-color: @bg1;
    text-color:        @fg0;
    border-radius:     4px;
    padding:           8px 12px;
    margin:            0 0 10px 0;
    children: [ "prompt", "entry" ];
}

prompt {
    background-color: transparent;
    text-color:        @green;
    font:               "Iosevka Nerd Font Bold 12";
    padding:            0 8px 0 0;
}

entry {
    background-color: transparent;
    text-color:        @fg0;
    placeholder:        "Search...";
    placeholder-color:  @comment;
}

listview {
    background-color: transparent;
    columns:            1;
    lines:               8;
    spacing:             4px;
    cycle:                true;
    dynamic:              true;
    scrollbar:            false;
}

element {
    background-color: transparent;
    text-color:        @fg1;
    padding:            8px 12px;
    border-radius:      4px;
}

element normal.normal {
    background-color: transparent;
    text-color:        @fg1;
}

element selected.normal {
    background-color: transparent;
    text-color:        @green;
    border:            1px;
    border-color:      @green;
}

element alternate.normal {
    background-color: transparent;
    text-color:        @fg1;
}

element-text {
    background-color: transparent;
    text-color:        inherit;
    vertical-align:     0.5;
}

element-icon {
    background-color: transparent;
    size:               24px;
    padding:            0 10px 0 0;
}

message {
    background-color: @bg1;
    border-radius:      4px;
    padding:             8px;
    margin:              0 0 10px 0;
}

textbox {
    background-color: transparent;
    text-color:         @fg0;
}

error-message {
    background-color: @bg0;
    text-color:         @red;
    border:              2px;
    border-color:        @red;
    border-radius:       6px;
    padding:             12px;
}
